body {

    font-family: crimefont;
    color: rga(15, 11, 25);
    background: url("assets/bg_image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




@font-face {
    font-family: comicfont;
    src: url(assets/avengersfont.ttf);
	}

@font-face {
    font-family: crimefont;
    src: url(assets/CRIMFBRG.ttf);
}

h1, h2 {
    font-family: comicfont;
}

/*HEADERS FOR FRONT PAGE PROFILE PICS WITH MEDIA QUERY*/
.profile-names {
    font-size: 4em;
    color: rgb(227, 27, 64);
    text-align: center;
    text-shadow: 2px 2px rgb(15, 11, 25);
    background-color: rgba(90, 170, 76, .8);
    padding-top: 12px;
    max-width: 85%;
    margin: 15px auto 10px auto;
    border: 1px solid rgb(15, 11, 25);
    border-radius: 15px;
}

@media (max-width: 600px){
    .profile-names {
        font-size: 8vw;
        padding-top: 7px;
    }
}

/*FRONT PAGE IMG STYLE*/
.profile-pic {
    display: block;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


/*BANNER STYLES FOR ALL PAGES/RESPONSIVE HIDE*/
.jumbotron {
    position: relative;
    background: url("assets/Cordier_Kitz_banner.jpg") center center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 30%;
    margin-bottom: 0px;
}
.jumbotron-mc {
    position: relative;
    background: url("assets/Cordier_banner.jpg") center center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 30%;
    margin-bottom: 0px;
}

.jumbotron-ck {
    position: relative;
    background: url("assets/Kitz_banner.jpg") center center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 30%;
    margin-bottom: 0px;
}

.jumbotron-diff {
    position: relative;
    background: url("assets/diff_banner.jpg") center center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 30%;
    margin-bottom: 0px;
}

.jumbotron-sim {
    position: relative;
    background: url("assets/sim_banner.jpg") center center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 30%;
    margin-bottom: 0px;
}

@media (max-width: 768px) {

    .jumbotron {
        display: none;
    }

    /*BRAND POP-IN*/
    #mobile-brand {
    height: 50px;
    margin: -16px;
    margin-left: -16px;

}

@media (min-width: 769px) {
    /*BRAND HIDE*/
    #mobile-brand {
        display: none;
    }
}





/*NAVIGATION STYLES*/
.navbar-default {
    background:url("assets/bg_nav.jpg");
    border-top: 2px solid rgba(0, 12, 96, 0.3);
    border-bottom: 2px solid rgba(0, 12, 96, 0.3);
    border-left: 2px solid rgba(199, 52, 45, 0.3);
    border-right: 2px solid rgba(199, 52, 45, 0.3);
    border-radius: 0px;
   
}
/*FIXED NAV/RESPONSIVE */

    .navbar-default {
        width: 100%;
        position: fixed;
        z-index: 2;
    }

    .profile-1 {
        margin-top: 70px;
    }

}

/*NAVBAR LINKS */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


.nav-link {
    
    font-size: 2vw;
    color: rgb(15, 11, 25);
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 1.5em;
    }
}


div ul.navbar-nav li a.nav-link {
    color: #FFFFFF;
}
div ul.navbar-nav li a.nav-link:hover {
    color: #e4ebc2;
}

/*HAMBURGER STYLE*/

.navbar-default .navbar-toggle {
    border: 2px solid #FFFFFF;
}

.navbar-default .navbar-toggle:hover {
    background-color: rgba(90, 170, 76, .8);
}

/*.navbar-default .navbar-toggle:active {
    background-color: rgba(90, 170, 76, .8);
}*/


.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}









