@font-face {
    font-family: comicfont;
    src: url(assets/avengersfont.ttf);
		
	}

h2 {font-family: comicfont;
	}

@font-face {font-family: evilfont;
	src: url(assets/evilgenius);
			}

body {font-family: evilfont;
	}
	
/*.banner {
        height: 500px;
}*/


		 
.jumbotron {
    position: relative;
    background: url("assets/Cordier_Kitz_banner.jpg") center center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 20%;
    margin-bottom: 0px;
}

body {
    background: url("assets/bg_image.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
	background-size: cover;
  background-size: cover;
}

.navbar-default {
    background-color: rgb(98, 181, 81);
    border-top: 1px solid rgb(0, 12, 96);
    border-bottom: 1px solid rgb(0, 12, 96);
    border-radius: 0px;
}